 </head>
 
<body>
  <nav>
    <i class="fas fa-film fa-2x"></i>
    <a href="/" <%- title === 'Big Flights' ? 'class="active"' : "" %>>Home</a>
    <a href="/flights" <%- title === 'All flights' ? 'class="active"' : "" %>>all flights</a>
      <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : "" %>></i></a>
  </nav>